div .cite {color: red}


/* body {

  background-color: paleturquoise;
 color: rgb(230, 14, 140); 
 font-family: Georgia;
}



header {

 text-align: center;
 background-color: orchid;
 color: rgb(147, 147, 229);
 border-radius: 10px;
}



#products-container {

color: rgb(29, 2, 29);
background-color: rgb(125, 63, 170);
}



section div {
 width: 30%;
 float: left;
 padding: 5px;
 border: 10px solid rgb(128, 0, 85);
 height: 300px;
 text-align: center; 
 margin-left: 10px; 
 margin-bottom: 10px;
}




div img {
 width: 70%;
}

main h1 {

 text-align: center;
 padding: 30px;
}

#productsTable {

 text-align: center;
 font-size: 20px;
}

#busChart {

 height: 400px;
 color: rgb(0, 128, 85);
 background-color: rgb(223, 226, 57);
}



ul {
 border: rgb(248, 4, 98);
 padding: 5px;
 background: rgb(218, 133, 235);
}




header {

  text-align: center;
  background-color: rgb(238, 237, 241);
  color: #e706b7;
}


#products-container {

color: rgb(167, 9, 167);
background-color: rgb(239, 243, 14);
}



ul {
  border: rgb(248, 4, 98);
  padding: 5px;
} */
